/* MAIN START */
:root {
	--color1: #AB8B7A;
	--color2: #F4EBDC;
	--color3: #231F20;
	--color4: #7896aa;
	--color5: #D7C6B4;
	--color6: #6e5046;
}

@font-face {
	font-family: 'No Virus';
	src: url('../assets/No\ Virus.ttf') format('truetype');
	src: url('../assets/No\ Virus.otf') format('opentype');
}

/* var(--color1) */
a {
	color: inherit;
	text-decoration: none;
	-webkit-user-drag: none;
}

html {
	scroll-behavior: smooth !important;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
body{
	/* height: 2550px; */
	/* width: 100%; */
	overflow-x: hidden;
	background-color: #F4EBDC;
	overflow-y: hidden;
}

.websitebody {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	overflow: overlay;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	display: flex;
}

.websitebody {
	flex-direction: column;
}

.websitebody::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

.block-class::-webkit-scrollbar {
	display: none;
}

.websitebody::-webkit-scrollbar-thumb {
	border-radius: 30px;
	border: 3px solid #231F20;
}
/* MAIN END */
.block-inner-class{
	filter: drop-shadow(0px 1px 2px);
}


/* BANNER START */
.banner{
	width: 100%;
	height: 100vh;
	background-image: url('../assets/bannersecond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40% center;
	filter: drop-shadow(0px 1px 2px);
	position: relative;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}


.banner h1{
	margin-left: 1vh;
	margin-right: 1vh;
	font-size: 6vh;
	font-family: 'No Virus';
	font-weight: bolder;
	color: white;
	font-weight: 1;
	text-shadow: .5vh .5vh 0vh rgba(0, 0, 0, .2);
}

.banner-flex {
	/* height: 800px; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5vh;
	
	height: 100vh;
}

.banner-logo {
	height: 40vh;
	width: 100%;
	top: 0vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* padding-left: 2vh; */
	margin-top: -10vh;
	/* margin-bottom: 5vh; */
}

.banner-logo-img {
	align-self: flex-end;
	background-image: url('../assets/logoonly1.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 40vh;
	background-position: center;
	/* background-color: var(--color); */
	/* background-color: rgba(244, 235, 220, 0.5); */
	border-radius: 1vw;
	z-index: 2;
}

.banner-logo p {
	font-family: 'No Virus';
	color: white;
	font-size: 10vh;
	text-align: center;
	text-shadow: .5vh .5vh 0vh rgba(0, 0, 0, .2);
	background-color: rgba(110, 80, 70, .2);
	padding: 2vh 3vh 1vh 3vh;
	border-radius: 1vh;
	filter: drop-shadow(.5vh .5vh 1vh rgba(0, 0, 0, .2));
	margin-top: -5vh;
	z-index: 1;
}

.banner-verti-text{
	display: flex;
	justify-content: center;
	text-align: center;
}
.banner-verti-button{
	display: flex;
	justify-content: center;
}

.banner button{
	border: none;
	color: white;
	background-color: var(--color1);
	border-radius: 1vh;
	font-size: 2vh;
	font-family: 'No Virus';
	top: 57%;
	left: 47%;
	padding: 1.5vh 1.5vh;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	filter: drop-shadow(0px .1vh .2vh black);
}
#LearnMore{
	-moz-transition: all 1s ease-in;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 1s ease-in;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#LearnMore:hover{
	cursor: pointer;
	transform: scale(1.1);
}

a#welcome-btn {
	cursor: pointer;
	position: absolute;
	height: 15vh;
	width: 6.25em;
	margin: auto;
	left: 0;
	right: 0;
	/* bottom: 6.25em; */
	display: flex;
	justify-content: center; /* center horizontally */
	/* align-items: center; center vertically */
}

.wbtn2 {
	bottom: 6vh;
}


a#welcome-btn i {
	animation: move-down 2s infinite;
	font-size: 8vh;
	text-align: center;
	color: white;
	text-shadow: 0.5vh 0.5vh 0vh rgb(0 0 0 / 20%);
}

@keyframes move-down {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateY(10vh);
		opacity: 0;
	}
}

#foodarrow-a {
	cursor: pointer;
	/* position: relative; */
	height: 10vh;
	width: 10vw;
	margin: 0vh 5vw 0vw 5vw;
	/* margin: auto; */
	/* bottom: 6.25em; */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

#foodarrow-a i {
	font-size: 8vh;
	text-align: center;
	color: white;
	text-shadow: 0.5vh 0.5vh 0vh rgb(0 0 0 / 20%);
}

.moveright {
	animation: move-right 2s infinite;
	margin-left: 1vw;
}

.moveleft {
	animation: move-left 2s infinite;
	margin-right: 1vw;
}

.centertop {
	text-align: right;
	padding-right: 15vw;
}

.centerbottom {
	text-align: left;
	padding-left: 10vw;
}


@keyframes move-right {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateX(10vw);
		opacity: 0;
	}
}

@keyframes move-left {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateX(-10vw);
		opacity: 0;
	}
}

/* BANNER END */

/* BLOCKS START */

.animation-grid {
	transition: transform .5s ease;
}

.animation-grid:hover {
	transform: scale(1.05);
	cursor: pointer;
}

#welcome-content-cont {
	background-color: var(--color6);
	width: 80%;
	border-radius: 5vh;
	
}

#welcome-content-cont:not(:last-child) {
	filter: drop-shadow(0px 1px 2px);
}

#welcomeblock p {
	font-family: 'No Virus';
	padding: 5vw 5vw 5vw 5vw;
	font-size: 2.7vw;
	color: var(--color2);
	text-shadow: .5vh .5vh 0vh rgba(0, 0, 0, .2);
	align-self: center;
}

#rabbitcarouselcont {
	height: 100%;
	display: grid;
	place-items: center;
	z-index: 1;
}

#rabbitcarousel {
	height: 50vh;
	width: 500px;
	overflow: hidden;
	overflow-y: hidden;
	display: flex;
	scroll-snap-type: x mandatory;
	border-radius: 5vh;
	border: .7vh solid var(--color2);
	filter: drop-shadow(0px 0px 2px);
}

#rabbitblockinfocont {
	display: flex;
	align-items: center;
}

#rabbitblockinfo {
	display: flex;
	width: 50vw;
	padding: 2vh 40px 2vh 65px;
	height: 50vh;
	border: .7vh solid var(--color2);
	border-radius: 0vh 5vh 5vh 0vh;
	margin-left: -50px;
	z-index: 0;
	background: var(--color6);
	align-items: center;
	overflow: hidden;
	filter: drop-shadow(0px 0px 2px);
}

#rabbitblockinfo p {
	font-family: 'Itim';
	font-size: 2.2vw;
	text-align: left;
	color: var(--color2);
	text-shadow: 0.3vh 0.3vh 0vh rgb(0 0 0 / 50%);
	padding: 10vw 5vw 10vw 5vw;
	line-height: 4vh;
}

#mobilerabbitblockinfo {
	display: none;
	width: 80vw;
	padding: 7vh 40px 2vh 40px;
	/* height: 30vh; */
	border: .7vh solid var(--color2);
	border-radius: 0vh 0vh 5vh 5vh;
	margin-top: -50px;
	z-index: 0;
	background: var(--color6);
	align-items: center;
	overflow: hidden;
	filter: drop-shadow(0px 0px 2px);
}

#mobilerabbitblockinfo p {
	font-family: 'Itim';
	font-size: 2.2vw;
	text-align: left;
	color: var(--color2);
	text-shadow: 0.3vh 0.3vh 0vh rgb(0 0 0 / 50%);
	/* padding: 10vw 5vw 10vw 5vw; */
	/* line-height: 4vh; */
}

#rabbitcarousel .image-slide {
	/* scroll-snap-align: start; */
	transition: 2s;
}

#rabbitcarousel img {
	width: 500px;
	height: 100%;
	object-fit: cover;
}

#rabbitcarousel input {
	display: none;
}

#carousel-navigation-manual {
	position: absolute;
	width: 500px;
	margin-top: 42vh;
	display: flex;
	justify-content: center;
}

.manual-btn:not(:last-child){
	margin-right: 1vw;
}

.manual-btn:hover {
	background: var(--color6);
}

.manual-btn {
	border: 2px solid var(--color2);
	padding: 1vh;
	border-radius: 50%;
	cursor: pointer;
	transition: .5s;
}

#carousel-navigation-auto {
	position: absolute;
	width: 500px;
	margin-top: 42vh;
	display: flex;
	justify-content: center;
	filter: drop-shadow(0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 1));
}

#carousel-navigation-auto div{
	border: 2px solid var(--color5);
	padding: 1vh;
	border-radius: 50%;
	transition: .5s;
}

#carousel-navigation-auto div:not(:last-child) {
	margin-right: 1vw;
}

:root {
	--slide: -500px;
}

#radio01:checked ~ .first-slide {
	margin-left: calc(var(--slide)*0);
}

#radio02:checked ~ .first-slide {
	margin-left: calc(var(--slide)*1);
}

#radio03:checked ~ .first-slide {
	margin-left: calc(var(--slide)*2);
}

#radio04:checked ~ .first-slide {
	margin-left: calc(var(--slide)*3);
}

#radio05:checked ~ .first-slide {
	margin-left: calc(var(--slide)*4);
}

#radio06:checked ~ .first-slide {
	margin-left: calc(var(--slide)*5);
}

#radio07:checked ~ .first-slide {
	margin-left: calc(var(--slide)*6);
}

#radio08:checked ~ .first-slide {
	margin-left: calc(var(--slide)*7);
}

#radio09:checked ~ .first-slide {
	margin-left: calc(var(--slide)*8);
}

#radio10:checked ~ .first-slide {
	margin-left: calc(var(--slide)*9);
}

#radio01:checked ~ #carousel-navigation-auto .auto-btn01 {
	background: var(--color6);
}

#radio02:checked ~ #carousel-navigation-auto .auto-btn02 {
	background: var(--color6);
}

#radio03:checked ~ #carousel-navigation-auto .auto-btn03 {
	background: var(--color6);
}

#radio04:checked ~ #carousel-navigation-auto .auto-btn04 {
	background: var(--color6);
}

#radio05:checked ~ #carousel-navigation-auto .auto-btn05 {
	background: var(--color6);
}

#radio06:checked ~ #carousel-navigation-auto .auto-btn06 {
	background: var(--color6);
}

#radio07:checked ~ #carousel-navigation-auto .auto-btn07 {
	background: var(--color6);
}

#radio08:checked ~ #carousel-navigation-auto .auto-btn08 {
	background: var(--color6);
}

#radio09:checked ~ #carousel-navigation-auto .auto-btn09 {
	background: var(--color6);
}

#radio10:checked ~ #carousel-navigation-auto .auto-btn10 {
	background: var(--color6);
}

.prodinfo {
	width: 300px;
	padding: 20px 0px 40px 0px;
	background-color: var(--color5);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 5.5vh;
	border-radius: 5vh;
	border: 6px solid var(--color2);
}

.prodrabbits{
	background-image: url('../assets/rabbitbrown.png');
}
.prodfood{
	background-image: url('../assets/foodbrown.png');
}
.prodhouse{
	background-image: url('../assets/house.png');
}
.prodaccessories{
	background-image: url('../assets/accessoriesbrown.png');
}

hr.rounded {
	border-top: .8vh solid var(--color6);
	border-radius: .5vh;
	top: 50%;
	width: inherit;
}

.backToTop {
	opacity: 0;
	transform: translateY(10vh);
	transition: opacity .1s ease, transform .1s ease;
	font-family: 'Inter';
	font-weight: bold;
	color: var(--color2);
	height: 19vh;
	width: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
	pointer-events: none;
	position: fixed;
	bottom: 4vh;
	right: 4vh;
	z-index: 99;
	filter: drop-shadow(.5vh .5vh 0vh rgba(0, 0, 0, .2));
}

.backToTop p {
	background-color: var(--color6);
	padding: .5vh 1vh .5vh 1vh;
	border-radius: 1vh;
	font-size: 1.5vh;
	
	/* border: .1vh solid var(--color2); */
}

.backToTop.visible {
	opacity: 1;
	transform: translateY(0px);
	transition: opacity .5s ease, transform .5s ease;
	pointer-events: auto;
}

.backToTop i {
	height: 15vh;
	width: 15vh;
	padding: 1vh;
	position: relative;
	font-size: 10vh;
	align-items: center;
	background-color: var(--color6);
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.backToTop i:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.prodinfo h1{
	font-family: 'Itim';
	font-size: 25px;
	width: 200px;
}

.block-class {
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: var(--color2);
	align-items: center;
	justify-content: center;
	padding: 10vh 0vh 10vh 0vh;
}

.block-inner-class {
	width: 100%;
	height: 80vh;
	background-color: var(--color1);
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	position: relative;
	text-align: center;
	padding: 7vh 0vh 5vh 0vh;
	z-index: 11;
	background-image: url(../assets/background1.png);
	background-size: contain;
	background-position: center;
	
}

.block-title-cont-class {
	display: flex;
	justify-content: center;
	position: absolute;
	top: -4vh;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	z-index: 1;
}

.block-content-cont-class {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5vw;
}

.websitebody > .block-content-cont-class{
	filter: drop-shadow(0px 1px 2px);
}

.mobileinfo {
	display: none;
}


.block-title-class {
	display: flex;
	color: var(--color2);
	width: 60vh;
	height: 9vh;
	justify-content: center;
	align-items: center;
	border: .7vh solid var(--color2);
	border-radius: 1vh;
	background-color: var(--color6);
}

.block-title-class h1 {
	font-family: 'No Virus';
	font-size: 6vh;
	margin-top: 5px;
}

.block-content-class {
	width: 20vw;
	height: 60vh;
	padding-top: 4vh;
	background-color: var(--color2);
	justify-content: flex-start;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* margin-top: 5.5vh; */
	border-radius: 5vh;
	border: .7vh solid var(--color5);
	gap: 0vh;
	/* padding: 1vh; */
	overflow: hidden;
}

.block-content-class h1{
	font-family: 'Itim';
	font-size: 2.5vh;
	width: 15vw;
	color: var(--color6);
	text-shadow: .2vh .2vh 0vh rgba(0, 0, 0, .3);
}

.prodgrid {
	/* margin-top: 2vh; */
	height: 15vh;
	width: 15vh;
	background-size: cover;
}

.vh100 {
	height: 80vh;
}

.scroll-up {
	scroll-snap-align: end;
}

.scroll-down {
	scroll-snap-align: start;
}

@media only screen and (max-width: 1090px) {
	.block-content-class h1 {
		width: 15vw;
		font-size: 1.5vw;
	}
	
	.block-content-class {
		/* height: 55vh; */
		height: 100%;
		padding-bottom: 4vh;
	}
}

@media only screen and (max-width: 950px) {
	.block-content-class h1 {
		font-size: 1.5vw;
	}

	#rabbitblockinfocont {
		display: none;
	}

	#mobilerabbitblockinfocont {
		display: flex;
		justify-content: center;
	}

	#mobilerabbitblockinfo {
		display: flex;
	}

	:root {
		--slide: -80vw;
	}

	#carousel-navigation-manual {
		margin-top: 32vh;
		width: 80vw;
	}

	#carousel-navigation-auto {
		margin-top: 32vh;
		width: 80vw;
	}

	#rabbitblockinner {
		display: flex;
		flex-direction: column;
	}

	#rabbitcarousel {
		height: 40vh;
		width: 80vw;
	}

	#rabbitcarousel img {
		width: 80vw;
	}

	#rabbitcarouselcont {
		height: auto;
	}

}

@media only screen and (max-width: 850px) {

	#foodtitle h1{
		font-size: 9vw;
	}

	#contacttitle h1 {

	}

	.foodcont1 {
		display: none !important;
	}

	#mobilefoodcont {
		display: flex !important;
	}

	.foodcont2 {
		display: none !important;
	}
	
	.banner-logo p {
		font-size: 10vw;
	}
	
	.block-title-class {
		width: 100vw;
	}
	.block-content-class {
		width: 80vw; 
		height: auto;
	}
	
	.block-content-class h1 {
		width: 60vw;
		font-size: 2.5vh;
	}
	
	.block-inner-class {
		justify-content: center;
		padding: 7vh 0vh 5vh 0vh;
	}
	
	#productblock > .block-inner-class {
		justify-content: center;
		padding: 7vh 0vh 5vh 0vh;
		height: auto;
	}
	.block-content-cont-class {
		flex-direction: column;
		align-items: center;
		gap: 5vh;
		width: 100%;
		display: flex;
	}
	.block-class {
		width: 100%;
		height: auto;
		/* position: relative;
		text-align: center; */
	}
	
	.websitebody {
		display: block;
	}
	
	.desktopinfo {
		display: none;
	}
	
	.mobileinfo {
		display: contents;
	}
	
	hr.rounded {
		width: inherit;
	}
	
	#productblock {
		overflow-y: scroll;
		height: 100vh;
		display: block;
		scroll-snap-type: y mandatory;
	}
	
}
/* INFORMATION BELT END */

/* FOOD BELT START */
#acc-content {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;
}

.divtest{
	position: relative;
	display: flex;
	background-color: var(--color5);
	width: 350px;
	height: 65vh;
	/* height: 700px; */
	justify-content: center;
	transition: transform 0.5s ease-in-out;
	padding-top: 15vh;
	margin: 0 1.5vh 0 1.5vh;
	filter: drop-shadow(0px 0px 2px);
	/* border-radius: 5vw; */

}
.divtest img{
	display: block;
	width: 250px;
	padding: 0vh 10px 0vh 10px;
	height: auto;
	transition: transform 0.5s ease;
	height: 30vh;
	
}
.divtest:hover img {
	transform: scale(1.1);
	transform: translateY(-13vh);
}
.divtest:hover {
	transform: scale(1.05);
}
.divtest .divtestoverlay{
	position: absolute;
	top: 39vh;
	left: 0;
	width: 100%;
	color: #333;
	font-size: 20vw;
	font-family: 'Nunito';
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	height: 0;
	overflow: hidden;
}
.divtest .divtestoverlayvit{
	position: absolute;
	top: 35vh;
	left: 0;
	width: 100%;
	color: #333;
	/* font-size: 18px; */
	font-family: 'Nunito';
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	height: 0;
	overflow: hidden;
}
.divtest .divtestoverlaydex{
	position: absolute;
	top: 33vh;
	left: 0;
	width: 100%;
	color: #333;
	font-family: 'Nunito';
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	height: 0;
	overflow: hidden;
}
.divtest:hover .divtestoverlay{
	opacity: 1;
	height: auto;
}
.divtest:hover .divtestoverlayvit{
	opacity: 1;
	height: auto;
}
.divtest:hover .divtestoverlaydex{
	opacity: 1;
	height: auto;
}

#acc-content::-webkit-scrollbar {
	width: 1vh;
	height: 1vh;
	background: transparent;
}

#acc-content::-webkit-scrollbar-thumb {
	border-radius: 30px;
	border: 3px solid #231F20;
}

.divtestoverlay #name{
	font-size: 2vw;
	font-weight: bold;
}
.divtestoverlay #desc{
	font-size: 1vw;
	padding: 2vw;
}
.divtestoverlayvit #name{
	font-size: 2vw;
	font-weight: bold;
}
.divtestoverlayvit #desc{
	font-size: 1vw;
	padding: 1vw;
}
.divtestoverlaydex #name{
	font-size: 2vw;
	font-weight: bold;
}
.divtestoverlaydex #desc{
	font-size: 1vw;
	padding: 1vw;

}

#foodbanner{
	background-image: url("../assets/rabbitseating.png");
	/* border-top: 1vh solid var(--color6);
	border-bottom: .5vh solid var(--color6); */
	background-position: center;
	/* background-position-x: -20vw; */
	background-repeat: no-repeat;
}
.foodcont1 {
	position: relative;
	display: flex;
    flex-direction: column;
	background-color: var(--color6);
	justify-content: center;
	width: 20vw;
	left: 45vw;
	border: .7vh solid var(--color5);
	border-radius: 5vh;
	filter: drop-shadow(0px 0px 2px);
}

.content1 {
	position: relative;
	transition: transform 0.8s ease-in-out;
	top: 1vh;
}
.content1 img{
	width: 18vw;
	border: 2px solid #D7C6B4 ;
	border-radius: 5px;
}
.textcont1{
	width: 60vh;
}
.overlay1 {
	position: absolute;
	top: 3vh;
	left: 0;
	width: 40vw;
	height: 60vh;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.5vw;
	color: white;
	background-color: var(--color6);
	transition: transform 0.8s ease, opacity 1s ease;
	border: 2px solid var(--color5) ;
	border-radius: 5vh;
	z-index: 4;
}

.overlay1 #descfirst1 {
	opacity: 0;
	transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
	font-family: 'Nunito';
	position: relative;
}
.overlay1 #desc1 {
	opacity: 0;
	transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
	font-family: 'Nunito';
	position: relative;
	
}
.textcont1{
	padding: 30px;
}
.foodcont1 p{
	opacity: 0;
	transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
	font-size: 2vw;
	position: relative;
	z-index: 3;
	font-weight: bold;
	font-family: 'Nunito';
	color: var(--color2);
	padding: 0 1vw 0 1vw;
}
.foodcont1:hover .overlay1 #descfirst1 {
	opacity: 1;
	transform: translateX(-50%);
}
.foodcont1:hover .overlay1 #desc1 {
	opacity: 1;
	transform: translateX(-50%);
}
.foodcont1:hover .overlay1 {
	transform: translateX(-113.5%);
	opacity: 1;
}
.foodcont1:hover .content1{
	transform: translateY(-9vh);
}
.foodcont1:hover p{
	opacity: 1;
}

.foodcont1:hover .overlay1 {
	opacity: 1;
}





.foodcont2 {
	position: relative;
	display: flex;
    flex-direction: column;
	background-color: var(--color6);
	justify-content: center;
	width: 20vw;
	left: -45vw;
	border: .7vh solid var(--color5);
	border-radius: 5vh;
	filter: drop-shadow(0px 0px 2px);
	z-index: 1;
}

.content2 {
	position: relative;
	transition: transform 0.8s ease-in-out;
	top: 1vh;
}
.content2 img{
	width: 18vw;
	border: 2px solid #D7C6B4 ;
	border-radius: 5px;
}
.textcont2{
	width: 60vh;
}
.overlay2 {
	position: absolute;
	top: 3vh;
	right: 0;
	width: 40vw;
	height: 60vh;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* font-size: 1vw; */
	color: white;
	background-color: var(--color6);
	transition: transform 0.8s ease, opacity 1s ease;
	border: 2px solid var(--color5) ;
	border-radius: 5vh;
	z-index: 4;
}
.foodcont2 p{
	opacity: 0;
	transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
	font-size: 2vw;
	position: relative;
	z-index: 3;
	font-weight: bold;
	font-family: 'Nunito';
	color: var(--color2);
}
.textcont2{
	padding: 20px;
}
.overlay2 #descfirst2 {
	opacity: 0;
	transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
	font-family: 'Nunito';
	font-size: 1.2vw;
}
.overlay2 #desc2 {
	opacity: 0;
	transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
	font-family: 'Nunito';
	font-size: 1vw;
}
.foodcont2:hover .overlay2 #descfirst2 {
	opacity: 1;
	transform: translateX(100%);
}
.foodcont2:hover .overlay2 #desc2 {
	transform: translateX(100%);
	opacity: 1;
}
.foodcont2:hover .overlay2 {
	transform: translateX(113.5%);
	opacity: 1;
}
.foodcont2:hover .content2{
	transform: translateY(-9vh);
}
.foodcont2:hover p{
	opacity: 1;
}

#mobilefoodcont {
	display: none;
}

#mobilefoodcarousel {
	border: .7vh solid var(--color5) ;
	border-radius: 5vh;
	height: 80vh;
	width: 80vw;
	display: flex;
	align-items: flex-start;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	align-items: center;
}

#mobilefoodcarousel img {
	width: 80vw;
}

.foodtest {
	width: 80vw;
	scroll-snap-align: start;
	justify-content: center;
	align-items: center;
	height: 100%;
	display: flex;
	background-color: rgba(244, 235, 220, .6);
}

#centerfood {
	background-color: rgba(110, 80, 70, .6);
	width: 80vw;
	height: 100%;
	display: flex;
	align-items: center;
}

#centerfoodinner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20vh;	
	height: 65vh;
	padding: 0vh 0vw 0vh 0vw;
}

.foodarrow p{
	text-shadow: .5vh .5vh 0vh rgba(0, 0, 0, .2);
	font-family: 'No Virus';
	color: var(--color2);
	font-size: 5vh;
}

.foodarrow:hover{
	transform: scale(1.1);
}

.foodarrow {
	cursor: pointer;
	display: flex;
	width: 80vw;
	align-items: center;
	transition: transform 0.5s ease;
}

.divend {
	justify-content: flex-end;
}


.foodarrow i {
	color: var(--color2);
	font-size: 9vh;
	position: absolute;
}

/* FOOD BELT END */


/* CONTACT START */

.row-contact {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	z-index: 5;
}

.slides {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
}

#productblock {
	scroll-snap-stop: always;
}

.row-contact p {
	font-family: 'Itim';
}

.row-contact a {
	font-family: 'Itim';
}
.contact-container{
	padding: 30px 30px 0px 30px;
	max-width: 100%;
	box-sizing: border-box;
	grid-template-columns: repeat(2, calc(50% - 10px));
	display: grid;
	grid-gap: 20px 80px;
}

.contact-info{
	margin-bottom: 3rem;
	width: 50%;
	display: flex;
}
.contact-text{
	white-space: nowrap;
	font-family: 'Inter';
}
.contact-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
}

/* CONTACT END */


/* FOOTER START */
#contactblock{

}
.contabt-cont{

}
.contacts-cont{
	position: relative;
	background-color: var(--color6);
	height: 10vh;
	width: 100vh;
	border: 0.5vh solid var(--color2);
	border-radius: 1vh;
	filter: drop-shadow(.5vh .5vh 1vh rgba(0, 0, 0, .2));
}
.aboutus-cont{
	margin-top: 4vh;
	position: relative;
	background-color: var(--color6);
	height: 52vh;
	width: 100vh;
	filter: drop-shadow(.5vh .5vh 1vh rgba(0, 0, 0, .2));
	border: 0.5vh solid var(--color2);
	border-radius: 1vh;
}
.contacts-content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	font-family: 'Itim';
	color: var(--color3);
	font-size: 2vh;
	text-transform: uppercase;
	margin-top: 1.5vh;
}
.contacts-content p{
	margin-top: 1vh;
	color: var(--color2);
}
.aboutus-content p{
	color: var(--color2);
	font-family: 'Nunito';
	font-size: 1vw;
	padding: 4vh 5vh 1vh 5vh;
}
/* FOOTER END */

/* PAST CSS

-----------------------NAVBAR-----------------------

.container {
	width: 90%;
	margin: 0 auto;
}

.navbar{
	width: 100%;
	overflow: hidden;
	height: 100px;
	line-height: 100px;
	background: var(--color1);
	position: fixed;
	top: 0;
	z-index: 3;
	filter: drop-shadow(0px 1px 2px);
}

.logo{
	margin-top: 8px;
	width: 200px;
	float: left;
}
.navbar-ul {
	float:right;
	list-style-type: none;
	margin: 0;
	padding-top: 15px;
	overflow: hidden;
	padding-right: 20px;
}
.navbar-ul li{
	float: left;
	line-height: 70px;
	text-align: center;
	list-style: none;
}
.navbar-ul li a{
	color: white;
	text-decoration: none;
	font-family: 'Inter';
	font-size: 22px;
	text-transform: uppercase;
	padding: 14px 16px 20px;
}
.navbar-ul li a:hover{
	color: black;
	cursor: pointer;
}

-----------------------END-----------------------

-----------------------CONTACTUS-----------------------

.contact-icon {
	align-self: center;
}

-----------------------END-----------------------

-----------------------infobelt-----------------------

.textblock{
	width: 500px;
	height: 70px;
	background-color: var(--color1);
	border: 6px solid var(--color2);
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	z-index: 1;
}
.textblock h1{
	font-family: 'Inter';
	text-align: center;
	color: var(--color2);
	font-size: 40px;
	top: 10%;
	position: relative;
}
.infoblock{
	width: 100%;
	height: 660px;
	background-color: var(--color1);
	margin-top: 0px;
	filter: drop-shadow(0px 0px 0px);
}

.info-items{
	display: flex;
	grid-template-columns: repeat(4, 400px);
	margin-top: 10vh;
	width: 100%;
	justify-content: center;
	height: 80vh;
	margin-bottom: 10vh;
}

.info-cont{
	padding: 30px 0px 30px 0px;
	display: flex;
	align-items: center;
	width: 100%;
	text-align: center;
}

-----------------------END-----------------------


*/
